body{
  font-family: 'Montserrat', sans-serif;
  background: #222;
  margin:0;
}

header{
  background: #55d6aa;
}

header::after{
  content: '';
  display:table;
  clear:both;
}

.logo{
  width: 128px;
  height: 64px;
  float:left;
  padding: 10px;
  margin-left: 20px;
}

nav{
  float:right;
}

nav ul{
  margin:0;
  padding:0;
  list-style: none;
}

nav li{
  display:inline-block;
  margin-left: 20px;
  margin-right: 50px;
  padding-top: 32px;
  position: relative;
}

nav a{
  color:#444;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  font-weight:bold;
}

nav a:hover{
  color: black;
}

nav a::before{
  content: '';
  display:block;
  height: 5px;
  width: 100%;
  background-color: #444;
  position: absolute;
  top: 52px;
  width:0%;
  transition: all ease-in-out 250ms;
}

nav a:hover::before{
  width:100%;
}

.forms-wrapper{
  background: #aaa;
  width: 60%;
  margin:0 auto 50px auto;
  text-align: center;
}

.forms-wrapper #submit{
  background: #ddd;
  margin-bottom: 15px;
  border-radius: 7px;
  outline: none;
}

.forms-wrapper h1 {
  margin-top: 15px;
  padding-top:10px;
}

.forms-wrapper input{
  background: #ddd;
  border-radius: 7px;
  border: 2px solid #444;
  outline: none;
  margin-bottom: 2px;
}

p.errormessage{
  color:black;
  font-weight: bold;
  padding-bottom:10px;
}
